In [21]:
import pandas as pd
import re
import numpy as np
import json

In [2]:
df = pd.read_csv('contacts.csv',low_memory=False)
df.fillna('', inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_7432\1142141599.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('', inplace=True)

In [3]:
df.head()

,First Name,Middle Name,Last Name,Phonetic First Name,Phonetic Middle Name,Phonetic Last Name,Name Prefix,Name Suffix,Nickname,File As,...,Address 2 - Region,Address 2 - Postal Code,Address 2 - Country,Address 2 - Extended Address,Website 1 - Label,Website 1 - Value,Event 1 - Label,Event 1 - Value,Custom Field 1 - Label,Custom Field 1 - Value
0,. Forward Call K1 श्री.ग.म.स.महागांव,,,,,,,,,,...,,,,,,,,,,
1,.RYR R10 Kulkarni,,,,,,,,,,...,,,,,,,,,,
2,+91,72189,83234,,,,,,,,...,,,,,,,,,,
3,,,,,,,,,,,...,,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,

In [4]:
df['Phone 1 - Value'].head()

0                      +91 95450 09773
1    +91 92268 32192 ::: +919226832192
2      +917218983234 ::: +917218983234
3                      +91 98503 25931
4                        +916355290597
Name: Phone 1 - Value, dtype: object

In [5]:
df['Phone 1 - Value2'] = df['Phone 1 - Value'].str.split(' ::: ').str[1]
df['Phone 1 - Value'] = df['Phone 1 - Value'].str.split(' ::: ').str[0]

In [6]:
df['Phone 1 - Value'].head()

0    +91 95450 09773
1    +91 92268 32192
2      +917218983234
3    +91 98503 25931
4      +916355290597
Name: Phone 1 - Value, dtype: object

In [7]:
df['Phone 1 - Value2'].head()

0              NaN
1    +919226832192
2    +917218983234
3              NaN
4              NaN
Name: Phone 1 - Value2, dtype: object

In [8]:
df['Phone 2 - Value'] = df['Phone 1 - Value2'].astype(str) + df['Phone 2 - Value'].where(df['Phone 2 - Value'].notna(), '')

In [9]:
df['Phone 2 - Value'].head()

0              nan
1    +919226832192
2    +917218983234
3              nan
4              nan
Name: Phone 2 - Value, dtype: object

In [10]:
def clean_phone_number(phone):
    numeric_phone = re.sub(r'\D', '', str(phone))  # Remove all non-numeric characters
    return numeric_phone[-10:]  # Keep only the last 10 digits

In [11]:
df['Phone 1 - Value'] = df['Phone 1 - Value'].apply(clean_phone_number)
df['Phone 2 - Value'] = df['Phone 2 - Value'].apply(clean_phone_number)
df['Phone 3 - Value'] = df['Phone 3 - Value'].apply(clean_phone_number)

In [12]:
df.drop('Phone 1 - Value2', axis=1, inplace=True)

In [13]:
def normalize_name(name: str) -> str:
    # This pattern removes any character that is not a letter or digit.
    return re.sub(r'[^a-z0-9]', '', name.lower())

In [14]:
df['total_name'] = df['First Name'] + df['Middle Name'] + df['Last Name']

In [15]:
df['searchName'] = df['total_name'].apply(normalize_name)

In [16]:
df.drop('total_name', axis=1, inplace=True)

In [17]:
df.to_csv('updatedContacts.csv')

In [18]:
updatedDf = pd.read_csv('updatedContacts.csv',low_memory=False)
updatedDf = updatedDf.replace({np.nan: None})
updatedDf['Phone 1 - Value'] = pd.to_numeric(updatedDf['Phone 1 - Value'], errors='coerce').astype('Int64')
updatedDf['Phone 2 - Value'] = pd.to_numeric(updatedDf['Phone 2 - Value'], errors='coerce').astype('Int64')
updatedDf['Phone 3 - Value'] = pd.to_numeric(updatedDf['Phone 3 - Value'], errors='coerce').astype('Int64')
updatedDf = updatedDf.astype(str)

In [27]:
updatedDf['employeeName'] = 'Initial contacts'

In [31]:
updatedDf.head()

,Unnamed: 0,First Name,Middle Name,Last Name,Phonetic First Name,Phonetic Middle Name,Phonetic Last Name,Name Prefix,Name Suffix,Nickname,...,Address 2 - Country,Address 2 - Extended Address,Website 1 - Label,Website 1 - Value,Event 1 - Label,Event 1 - Value,Custom Field 1 - Label,Custom Field 1 - Value,searchName,employeeName
0,0,. Forward Call K1 श्री.ग.म.स.महागांव,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,forwardcallk1,Initial contacts
1,1,.RYR R10 Kulkarni,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,ryrr10kulkarni,Initial contacts
2,2,+91,72189,83234,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,917218983234,Initial contacts
3,3,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Initial contacts
4,4,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,Initial contacts

In [33]:
# Convert DataFrame to a list of dictionaries
records = updatedDf.to_dict(orient="records")

# Wrap the list in a dictionary with the key 'callers'
wrapped_data = {"callers": records}

# Write the wrapped data to a JSON file with indentation for readability
with open("updatedContacts.json", "w") as json_file:
    json.dump(wrapped_data, json_file, indent=2)